# for loop

In for loop we have two methods
- using range()
- using iterables

### 1. for loop using range()

In [ ]:
for val in range(1,11,1):
    print(val, end=" ")

In [ ]:
# Default step value
for val in range(1,11):
    print(val, end=" ")

In [ ]:
# Default start value
for val in range(10):
    print(val, end=" ")

In [ ]:
for val in range(10,0,-1):
    print(val, end=" ")

In [ ]:
for val in range(10,-1,-2):
    print(val, end=" ")

In [ ]:
for val in range(10,-1,1):
    print(val)

In [ ]:
for val in range(-100,100):
    print(val,end=" ")

In [ ]:
n = int(input("Enter a number: "))
for val in range(1,n):
    print("Helo Abdul: ")

In [ ]:
# Factorial of number
num = int(input("Enter a number: "))
factorial = 1
for i in range(1,num+1):
    factorial *= i
print("factorial of",num,"is: ",factorial)

In [ ]:
# Multiplication table
num = int(input("Enter a number to print Table: "))
table = 1
for i in range(1,11):
    table = num * i
    print(num,"X",i,"=",table)

In [ ]:
# list of squares
num = int(input("Enter the number: "))
squares = 1
for i in range(1,num+1):
    squares = i**2
    print(squares,end=" ")

In [ ]:
# Even numbers
num = int(input("Enter a number"))
for i in range(1,num+1):
    if (i%2 == 0):
        print(i,end=" ")

In [ ]:
# printing fruit name 10 times
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    if fruit == 'apple':
        print('apple '*10)

In [ ]:
# the sum of the first n natural numbers
n = int(input("Enter a value: "))
sum = 0
for i in range(1,n+1):
    sum += i
print("The sum of first",n,"natural numbers:",sum)

In [ ]:
char = input("Enter a alphabet: ")
if (char >= 'a' and char <= 'z'):
    for i in range(1,6):
        print(char, end=" ")
else:
    print("It is not a lower case...")

In [ ]:
a = "abdul"
for i in range(0,len(a)):
    print(i, end=" ")

In [ ]:
a = "abdul"
for i in range(0, len(a)):
    print(a[i], end=" ")

In [ ]:
a = ['abdul', 10, 2.5, 1+2j, True]
for i in range(0, len(a)):
    print(a[i], end=" ")

### 2.for loop using iterables

In [ ]:
a = ['abdul', 10, 2.5, 1+2j, True]
for i in a:
    print(i, end=" ")

In [29]:
n = '* '
for i in range(1,4):
    print(i*n)

*
* *
* * *

In [36]:
rows = 3
for i in range(rows):
    print(" " * (rows - i - 1),end="")
    print("* " * (i+1))

  *
 * *
* * *

# while loop

In [ ]:
# First 10 natural numbers
n = 1
while n <= 10:
    print(n, end=" ")
    n += 1

In [ ]:
# First 10 even numbers
# n = 1
# while n <= 20:
#     if n%2 == 0:
#         print(n, end=" ")
#     n += 1

n = 2
while n <= 20:
    print(n, end=" ")
    n += 2

In [ ]:
# Sum of first 10 natural numbers
n = 1
sum = 0
while n <= 10:
    sum += n
    n += 1
print(sum)

In [ ]:
# First 10 whole numbers in reverse
n = 9
while n >= 0:
    print(n, end=" ")
    n -= 1

In [3]:
s = "abdul"
i = 0
while i < len(n):
    print(s[i], end=" ")
    i += 1

a b d u l

In [2]:
name = "Abdul Shahid"
i = 0 
while i < len(name):
    if i%2 == 0:
        print(name[i])
    i += 1

A
d
l
S
a
i

In [3]:
name = "Abdul Shahid"
i = 0 
while i < len(name):
    if i%2 != 0:
        print(name[i])
    i += 1

b
u

h
h
d

In [4]:
n = 1
while n <= 5:
    print("Tom")
    n += 1

Tom
Tom
Tom
Tom
Tom

In [6]:
    # printing table
n = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(f"{n} X {i} = {n*i}")
    i += 1

20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200

- ### break keyword/statement

In [8]:
for i in range(1,11):
    if i == 4:
        break
    print(i, end=" ")

1 2 3

In [11]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i, end=" ")
    i += 1

1 2 3 4

- ### continue keyword/statement

In [13]:
for i in range(1,11):
    if i==2 or i==9:
        continue
    print(i, end=" ")

1 3 4 5 6 7 8 10

In [3]:
i = 1
while i <= 10:
    if i==3 or i==4:
        i += 1
        continue
    print(i, end=" ")
    i += 1

1 2 5 6 7 8 9 10

In [6]:
i = 1
while i <= 20:
    if i%2 == 0:
        if i == 4:
            i += 1
            continue
        print(i, end=" ")
    i += 1

2 6 8 10 12 14 16 18 20

- ### pass keyword/statement

In [8]:
n = int(input("Enter a number: "))
if n == 1:
    pass
else: 
    print("Tharun is a waste fellow")

Tharun is a waste fellow

In [10]:
# program to print odd numbers from 1 to n using for loop
n = int(input("Enter a number: "))
for i in range(1,n+1):
    if(i%2 == 0):
        pass
    else:
        print(i, end=" ")

1 3 5 7 9 11 13 15

In [12]:
# program to print even numbers from 1 to n using for loop
n = int(input("Enter a number: "))
for i in range(1,n+1):
    if i%2 != 0:
        pass
    else:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22

In [14]:
# program to print odd numbers from 1 to n using while loop
n = int(input("Enter a number: "))
i = 0
while i <= n:
    if i%2 == 0:
        pass
    else:
        print(i, end=" ")
    i += 1

1 3 5 7 9

#  3. nested for loop

In [2]:
for i in range(1,5):
    for j in range(1,4):
        print(j,end=" ")
    print()

1 2 3
1 2 3
1 2 3
1 2 3

In [23]:
n = int(input("Enter the number: "))
i = 10
while i >= 1:
    print(f"{n} X {i} = {n*i}")
    i -= 1

3 X 10 = 30
3 X 9 = 27
3 X 8 = 24
3 X 7 = 21
3 X 6 = 18
3 X 5 = 15
3 X 4 = 12
3 X 3 = 9
3 X 2 = 6
3 X 1 = 3

In [1]:
n = int(input("Enter a value: "))

for i in range(1,n+1):
    for j in range(1,n+1):
        print(f"{i} x {j} = {i*j}", end="\t")
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16

In [2]:
# program to print all the multiples of 5 from 1 to n
n = int(input("Enter a value: "))
for i in range(1,n+1):
    if i%5 == 0:
        print(i, end=" ")

5 10 15 20 25 30

In [8]:
# program to find sum of 1 to n integers
n = int(input("Enter a number: "))
sum = 0
for i in range(1,n+1):
    sum += i
print(sum)

6

In [9]:
# product of 1 to n integers (or) factorial of n
n = int(input("Enter a number: "))
mul = 1
for i in range(1,n+1):
    mul *= i
print(mul)

6

In [13]:
# program to find the sum of even numbers from 1 to n
n = int(input("Enter a number: "))
sum = 0
for i in range(1,n+1):
    if i%2 == 0:
        sum+=i
print(sum)


# program to find the sum of even numbers upto n
# n = int(input("Enter a number: "))
# sum = 0
# for i in range(0,n+1,2):
#     sum += i
# print(sum)

30

### String formats

In [16]:
# using .format()
a = 20
b = 10
print("a value is {} and b value is {}".format(a,b))

a value is 20 and b value is 10

In [17]:
# using f string
a = 20
b = 10
print(f"a value is {a} and b value is {b}")

a value is 10 and b value is 20

In [18]:
# %s format
a = 20
b = 10
print("a value is %s and b value is %s"%(a,b))

a value is 20 and b value is 10

In [29]:
# %d format
a = 20
b = 10
c = 332.7633
print("a value is %d and b value is %d"%(a,b))
print("%d"%c)

a value is 20 and b value is 10
332

In [28]:
# %f format
a = 20
b = 12.379354983743279743757
c = 334244.244233243243243
d = 31.9344114343
print("a value is %f and b value is %f"%(a,b))
print("%.2f"%c)
print("%.0f"%d)
print(round(c,2))

a value is 20.000000 and b value is 12.379355
334244.24
32
334244.24

In [22]:
# %c format
# %c accepts int or single character only
a = 67
b = 68
print("a value is %c and b value is %c"%(a,b))

a value is C and b value is D

In [36]:
# program to print even numbers 2 times and odd numbers 2 times upto n
n = int(input("Enter a value: "))

for i in range(1,n+1):
    if i%2 == 0:
        for j in range(2):
            print(i, end=" ")
    else:
        for k in range(3):
            print(i, end=" ")

1 1 1 2 2 3 3 3 4 4 5 5 5 6 6 7 7 7 8 8 9 9 9 10 10

In [15]:
# program to print fibonacci series
n = int(input("Enter a number: "))
a = 0
b = 1
for i in range(2,n+1):
    c = a+b
    print(c)
    a = b
    b = c

1
2
3
5
8
13
21
34
55