In [58]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [59]:
print(len(d))
print(type(d))

3
<class 'dict'>

In [60]:
d['name'] = 'Rithu'
print(d)

{'name': 'Rithu', 'class': 'CSE', 'age': 20}

In [61]:
d['passout'] = 2025
print(d)

{'name': 'Rithu', 'class': 'CSE', 'age': 20, 'passout': 2025}

In [62]:
for i in d:
    print(i, end=" ")

name class age passout

In [63]:
d1 = {
    'name':"Abdul",
    'class':"CSE",
    'age':20,
    'name':'Rithu'
}

In [64]:
print(d1)

{'name': 'Rithu', 'class': 'CSE', 'age': 20}

# Built In Methods

### 1. item(method)

In [1]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [66]:
print(d.items())

dict_items([('name', 'Abdul'), ('class', 'CSE'), ('age', 20)])

In [67]:
for i,j in d.items():
    print(i,j)

name Abdul
class CSE
age 20

### 2. keys() method

In [68]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [69]:
d.keys()

dict_keys(['name', 'class', 'age'])

In [70]:
a = d.keys()
print(a)

dict_keys(['name', 'class', 'age'])

### 3. values() method

In [71]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [72]:
d.values()

dict_values(['Abdul', 'CSE', 20])

In [73]:
a = d.values()
print(a)

dict_values(['Abdul', 'CSE', 20])

### 4. copy() method

In [74]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [75]:
d1 = d.copy()
print(d)
print(d1)

{'name': 'Abdul', 'class': 'CSE', 'age': 20}
{'name': 'Abdul', 'class': 'CSE', 'age': 20}

### 5. clear() method

In [76]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [77]:
d.clear()
print(d)

{}

### 6. pop() method

In [78]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [79]:
d.pop('name')

'Abdul'

In [80]:
print(d)

{'class': 'CSE', 'age': 20}

### 7. popitem() method

In [81]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [82]:
d.popitem()

('age', 20)

In [83]:
print(d)

{'name': 'Abdul', 'class': 'CSE'}

### 8. update() method

In [84]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [85]:
d.update({'name':'Rithu', 'gender':'female'})

In [86]:
print(d)

{'name': 'Rithu', 'class': 'CSE', 'age': 20, 'gender': 'female'}

### 9. setdefault() method

In [87]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [88]:
d.setdefault('age',21)
d.setdefault('gender','male')

'male'

In [89]:
print(d)

{'name': 'Abdul', 'class': 'CSE', 'age': 20, 'gender': 'male'}

### 10. get() method

In [90]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [8]:
d.get('name',)

'Abdul'

In [5]:
d.get('gender')

In [6]:
d.get('gender', 'key doesnt exist')

'key doesnt exist'

### 11. fromkeys() method

In [2]:
d = {
    'name':"Abdul",
    'class':"CSE",
    'age':20
}

In [4]:
print({}.fromkeys(d,'helo'))

{'name': 'helo', 'class': 'helo', 'age': 'helo'}

In [95]:
d1 = {}.fromkeys('abcd',100)
print(d1)

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

In [97]:
d2 = d.fromkeys([1,2,3,4],10)
print(d2)

{1: 10, 2: 10, 3: 10, 4: 10}

In [99]:
d3 = {}.fromkeys({1,2,3,4},100)
print(d3)

{1: 100, 2: 100, 3: 100, 4: 100}

# Dictionary Comprehension

In [102]:
n = int(input("Enter n: "))
d = {i:'abdul' for i in range(1,n+1)}
print(d)

{1: 'abdul', 2: 'abdul', 3: 'abdul', 4: 'abdul'}

In [103]:
d1 = {chr(i):i for i in range(ord('A'),ord('Z')+1)}
print(d1)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [104]:
first = ['abdul','reddy','adi','yoga']
last = ['shahid','tharun','kesava','nanda']
d = {x:y for x,y in zip(first,last)}
print(d)

{'abdul': 'shahid', 'reddy': 'tharun', 'adi': 'kesava', 'yoga': 'nanda'}

In [ ]:
## Printing frequency of characters
def char_frequency(str1):
    d = {}
    for n in str1:
        if n in d.keys():
            d[n] += 1
        else:
            d[n] = 1
    return d
s = "abdulshahid"
print(char_frequency(s))

{'a': 2, 'b': 1, 'd': 2, 'u': 1, 'l': 1, 's': 1, 'h': 2, 'i': 1}