# sets

In [1]:
s = {1,2,3,4,5,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [2]:
s1 = {1,2.0,10j,True,'Rithu',(10,20,30)}
print(s1)

{1, 2.0, 'Rithu', 10j, (10, 20, 30)}

## looping in sets

In [3]:
s1 = {1,2.0,10j,True,'Rithu',(10,20,30)}
for i in s1:
    print(i, end="  ")

1  2.0  Rithu  10j  (10, 20, 30)

# Built in methods in set

### 1. clear() method

In [4]:
s1 = {1,2.0,10j,True,'Rithu',(10,20,30)}

In [5]:
s1.clear()
print(s1)

set()

### 2. copy() method

In [6]:
s2 = {1,2.0,10j,True,'Rithu',(10,20,30)}

In [7]:
c2 = s2.copy()
print(c2)

{1, 2.0, 'Rithu', 10j, (10, 20, 30)}

### 3. add() method

In [8]:
s3 = {1,2.0,10j,True,'Rithu',(10,20,30)}

In [9]:
s3.add(1000)
print(s3)

{1, 2.0, 1000, 'Rithu', 10j, (10, 20, 30)}

### 4. pop() method

In [10]:
s4 = {1,2.0,10j,True,'Rithu',(10,20,30)}

In [11]:
a4 = s4.pop()
print(a4)
print(s4)

1
{2.0, 'Rithu', 10j, (10, 20, 30)}

### 5. remove() method

In [12]:
s5 = {1,2.0,10j,True,'Rithu',(10,20,30)}

In [13]:
s5.remove(1)
print(s5)

{2.0, 'Rithu', 10j, (10, 20, 30)}

In [14]:
s5.remove((10,20,30))
print(s5)

{2.0, 'Rithu', 10j}

### 6. discard() method

In [15]:
s6 = {1,2.0,10j,True,'Rithu',(10,20,30)}

In [16]:
s6.discard(2.0)
print(s6)

{1, 'Rithu', 10j, (10, 20, 30)}

In [17]:
s6.discard('abdul')
print(s6)

{1, 'Rithu', 10j, (10, 20, 30)}

### 7. uinon() method

In [18]:
s1 = {1,2,3,4,5,10,100,300,40}
s2 = {10,20,30,40,50,100,400,4,2}
s3 = {100,200,300,400,500,4,1,100,40}

In [19]:
res = s1.union(s2)
print(res)

{1, 2, 3, 4, 5, 100, 40, 10, 300, 400, 50, 20, 30}

In [20]:
res1 = s1.union(s2,s3)
print(res1)

{1, 2, 3, 4, 5, 200, 10, 400, 20, 30, 100, 40, 300, 50, 500}

### 8. update() method

In [21]:
u1 = {1,2,3,4,5,10,100,300,40}
u2 = {10,20,30,40,50,100,400,4,2}
u3 = {100,200,300,400,500,4,1,100,40}

In [22]:
u1.update(u2)
print(u1)

{1, 2, 3, 4, 5, 100, 40, 10, 300, 400, 50, 20, 30}

### 9. intersection() method

In [23]:
i1 = {1,2,3,4,5,10,100,300,40}
i2 = {10,20,30,40,50,100,400,4,2}
i3 = {100,200,300,400,500,4,1,100,40}

In [24]:
result = i1.intersection(i3)
print(result)

{1, 100, 4, 40, 300}

### 10. intersection_update() method

In [25]:
a1 = {1,2,3,4,5,10,100,300,40}
a2 = {10,20,30,40,50,100,400,4,2}
a3 = {100,200,300,400,500,4,1,100,40}

In [26]:
a1.intersection_update(a2)
print(a1)

{2, 100, 4, 40, 10}

### 11. difference() method

In [27]:
b1 = {1,2,3,4,5,10,100,300,40}
b2 = {10,20,30,40,50,100,400,4,2}
b3 = {100,200,300,400,500,4,1,100,40}

In [28]:
res = b1.difference(b3)
print(res)

{10, 2, 3, 5}

### 12. difference_update() method

In [29]:
c1 = {1,2,3,4,5,10,100,300,40}
c2 = {10,20,30,40,50,100,400,4,2}
c3 = {100,200,300,400,500,4,1,100,40}

In [30]:
c1.difference_update(c2,c3)
print(c1)

{3, 5}

### 13. symmetri_difference() method

In [31]:
e1 = {1,2,3,4,5,10,100,300,40}
e2 = {10,20,30,40,50,100,400,4,2}
e3 = {100,200,300,400,500,4,1,100,40}

In [32]:
res = e1.symmetric_difference(e2)
print(res)

{1, 3, 5, 300, 400, 50, 20, 30}

### 14. symmetric_difference_update() method

In [33]:
s1 = {1,2,3,4,5,10,100,300,40}
s2 = {10,20,30,40,50,100,400,4,2}
s3 = {100,200,300,400,500,4,1,100,40}

In [34]:
s1.symmetric_difference_update(s2)
print(s1)

{1, 3, 5, 300, 400, 50, 20, 30}

### 15. issubset() method

In [35]:
a = {1,2,3,4,5}
b = {3,4}
c = {10,20,30}

In [36]:
print(b.issubset(a))

True

In [37]:
print(c.issubset(a))

False

### 16. issuperset() method

In [38]:
a = {1,2,3,4,5}
b = {3,4}
c = {10,20,30}

In [39]:
print(a.issuperset(b))

True

In [40]:
print(a.issuperset(c))

False

### 17. isdisjoint() method

In [41]:
a = {1,2,3,4,5}
b = {3,4,1,9,7,8}
c = {10,20,30}

In [42]:
print(a.isdisjoint(b))

False

In [43]:
print(a.isdisjoint(c))

True

In [45]:
n = int(input("Enter n: "))
l1 = []
for i in range(1,n+1):
    val = int(input("Enter val: "))
    l1.append(val)
print(l1)

sum = 0
for i in l1:
    if i%2 == 0:
        sum +=i
if sum > 100:
    print("Sum exceeds 100..")
else: 
    print("Sum is within limit..")

[2, 1]
Sum is within limit..

In [11]:
t1 = (1,10,3,4,1,0,9,2,3,5,5)
l1 = list(t1)

l1.sort()
print(l1)
print(l1[0], 'is minimum value')
print(l1[-1], "is maximum value")

[0, 1, 1, 2, 3, 3, 4, 5, 5, 9, 10]
0 is minimum value
10 is maximum value

In [14]:
l1 = [1,2,3,20,2,0,22,2,4,45,4,2,3,5,2]
s1 = set(l1)
print(s1)

s1.discard(2)
print(s1)

{0, 1, 2, 3, 4, 5, 45, 20, 22}
{0, 1, 3, 4, 5, 45, 20, 22}

In [16]:
s1 = {1,3,4,5,6,2,9,7}
s2 = {3,4,5,2,1}

s3 = set()

for i in s1:
    if i in s2 and i not in s3:
        s3.add(i)
print(s3)

{1, 2, 3, 4, 5}

In [18]:
t = (1,2,4,4,2,21,3,4,2)

val = int(input("Enter n: "))

count = 0
for val in t:
    count += 1
print(count)

9

In [23]:
t1 = (1,2,4,4,2,21,3,4,2)
s1 = set(t1)

for i in s1:
    count = 0
    for j in  t1:
        if i == j:
         count += 1
    print(f"{i} repeated for {count} times..")

1 repeated for 1 times..
2 repeated for 3 times..
3 repeated for 1 times..
4 repeated for 3 times..
21 repeated for 1 times..

# Set Comprehension

In [2]:
s = {i for i in range(1,11)}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
s1 = {100 for i in range(1,5)}
print(s1)

{100}

In [46]:
n = int(input("Enter n: "))
s1 = {int(input(f'val: {i}')) for i in range(1,n+1)}
print(s1)

{1, 2, 3, 4}